<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="resources/main.css">
  <title>About</title>
</head>

<body>
  <div id="main-container">

    <header>
      <a class="nav-options" href="/index">World Clocks</a>
      <a class="nav-options about" href="/about">About</a>
      <a href="/logout">
          <button class="button">Logout</button>
        </form>
      </a>
    </header>


    <!--    Main content of the page starts here    -->
    <!--    Contains a title, description of the project, a link and a footer    -->

    <h2 class="h2-about"><%= name %>, Check the time in up to 3 different time zones.</h2>
    <div class="text">
      This website allows the users to create an account and then store actual time from 3 different cities around the
      world. Once finished, I will try making it dynamic so that a the number of clocks is up to the user(of course
      not
      bigger than the quantity of available cities).
      <br><a href="https://www.linkedin.com/in/mj-sekulski/">More about me</a>
    </div>
  </div>


  <!--    Sticky footer    -->

  <div id="footer">
    <div id="footer-sign"><span id="sign">Coded by </span>M<span class="sign-next">ichal </span>J<span
        class="sign-next"></span> S<span class="sign-next">ekulski</span>, 2020</div>
    <a id="about-footer" href="/about">About</a>
  </div>
  </div>

</body>

</html>