<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="resources/main.css">
  <title>Page Not Found</title>
  <link rel="icon" type="image/png" href="./resources/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" href="./resources/favicon.ico">
</head>

<body>
  <div id="main-container">

    <header>
      <a class="nav-options" href="/">💀World Clocks💀</a>
      <form action="/login" method="GET">
        <button class="button">Login/Register</button>
      </form>
      </a>
    </header>


    <!--    Main content of the page starts here    -->
    <!--    Contains a title, 3 rectangles for maps and a footer    -->

    <h2>Check the time in up to 3 different time zones.</h2>
    <p id="sub-title-index">Do not forget to sign up to save your clocks.</p>

    <div class="text">
      Eehm... This page has nothing to offer. Click the emoji below to come back!
      <br><a href="/">😓</a>
    </div>
    <!--    bottom-container contains 3 clocks. Each of them is a image and a description    -->
    <!--    fot the user that these fields are actually clickable   -->


    <!--    Sticky footer    -->

    <div id="footer">
      <div id="footer-sign"><span id="sign">Coded by </span>M<span class="sign-next">ichal </span>J<span
          class="sign-next"></span> S<span class="sign-next">ekulski</span>, 2020
      </div>
    </div>
  </div>
  <script src="resources/modal-and-clocks.js"></script>
</body>

</html>