<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="resources/main.css">
  <title>Log In</title>
</head>

<body>
  <div id="main-container">

    <header>
      <a class="nav-options" href="/">World Clocks</a>
      <a href="/register"><button class="button">Register</button></a>
    </header>


    <!--    Main content of the page starts here    -->
    <!--    Contains a title, a form, hyperlink to login page and a footer    -->

    <h2 class="h2-login-register">Check the time in up to 3 different time zones.</h2>
    <div class="form">
      <%- include('./messages.ejs'); %>
      <form action="/login" method="POST">


        <!--    Each text+input field are wrapped in a credentials-container,    -->
        <!--    which then contains 3 individual "each-container"s.    -->
        <!--    Each of them has a div containing the description and a input field    -->
        <!--    The form ends with a button which submits the form and redirects to the index.ejs    -->

        <div class="credentials-container">
          <div class="each-container">
            <div class="column-inputs">Email:</div>
            <input type="email" id="email" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" value="<%= typeof email != 'undefined' ? name : '' %>" required>
          </div>
          <div class="each-container">
            <div class="column-inputs">Password:</div>
            <input type="password" id="password" name="password" required>
          </div>
        </div>
        <div class="login-register-button">
          <button class="button l-r-button" type="submit">
            <p>Log In</p>
          </button>
        </div>
      </form>
    </div>


    <!--    Link to the login page if the user does not have an account    -->

    <div class="text">
      Don't have an account? Create one by clicking the button and enjoy three clocks on the
      homepage😊.
      <div class="login-register">
        <a href="/register"><button class="button">Register Here</button></a>
      </div>
    </div>


    <!--    Sticky footer    -->

    <div id="footer">
      <div id="footer-sign"><span id="sign">Coded by </span>M<span class="sign-next">ichal </span>J<span
          class="sign-next"></span> S<span class="sign-next">ekulski</span>, 2020
      </div>
    </div>
  </div>
</body>

</html>